/* .banner {
  background: url('../assets/landing.jpg');
  background-repeat: no-repeat;
  object-position: bottom;
  background-position: center center;
  object-fit: cover;
  height: 100%;
} */

.banner-btn {
  text-decoration: none;
  padding: 1.5vh 1.5vw;
  margin-top: 10px;
  border-radius: 1vh;
  color: white;
  background-color: #31475f;
  box-shadow: 0.1em 0.1em 10px #9195a7, -0.1em -0.1em 10px #eff0f6;
}

.banner-btn:hover {
  text-decoration: none;
  color: black;
  background-color: #59adb5;
}

.font-large {
  font-size: large;
}

.font-xlarge {
  font-size: x-large;
}

.font-xxlarge {
  font-size: xx-large;
}

.router-link {
  transition: 0.1s;
}
.router-link:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.nav-link {
  transition: 0.3s;
  color: black;
}

.nav-link:hover {
  color: blue;
}

.icon:hover {
  cursor: pointer;
}

.icon:active {
  color: #31475f !important;
}
