.neumorph-card {
  border-radius: 2em;
  background: #ffffff;
  box-shadow: 5px 5px 10px #c0c5dd, -5px -5px 10px #eaf1ff;
}

.neumorph-btn {
  transition: 0.3s;
  border-width: 0;
  border-radius: 1em;
  background: white;
  box-shadow: 0.1em 0.1em 10px #808bb9, -0.1em -0.1em 10px #f5fcff;
}

.neumorph-btn:hover {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0.1em 0.1em 10px #b5bad1, -0.1em -0.1em 10px #f5fcff;
}

.neumorph-btn:focus {
  outline: 0;
}

.neumorph-btn:active {
  transform: translateY(0.1em);
}
